# transformers==4.44.2
# datasets==3.6.0
# torchmetrics
# scikit-learn
transformers datasets scikit-learn pandas numpy matplotlib seaborn joblib accelerate 

pip install torch==2.7.0 torchvision==0.22.0 torchaudio==2.7.0 --index-url https://download.pytorch.org/whl/cu128
# conda install pytorch torchvision torchaudio pytorch-cuda=12.8 -c pytorch -c nvidia